.member {
padding-top:3px;
}

.member img{
width:24px;
height:24px;
border-radius:12px;

}

.column-name {
width: 85px;
float: left;
}

.edui-container {
float:left;
}

.table-add {
overflow:auto;
}

.brand-img { position:absolute; top:140px; right:50px; width:200px; }
.brand-img img{ width:200px;}
