@{
    ViewBag.Title = "角色权限";
}

@section css{
    <link rel="stylesheet" href="/modules/css/system/organization.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/organization/roles"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">角色权限</span>
    <div class="btn mLeft20" id="createModel">新建角色</div>
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header">
            <td>角色名称</td>
            <td>描述</td>
            <td class="width150">创建时间</td>
            <td class="width150">创建人</td>
            <td class="width100">设置权限</td>
            <td class="width80">编辑</td>
            <td class="width80">删除</td>
        </tr>
    </table>
</div>
