@{
    ViewBag.Title = "员工管理";
    var roles = (List<CloudSalesEntity.Role>)ViewBag.Roles;
    var departs = (List<CloudSalesEntity.Department>)ViewBag.Departments;
}

@section css{
    <link rel="stylesheet" href="/modules/css/system/organization.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/organization/users"], function (obj) {
            obj.init('@Html.ToJSONString(roles)', '@Html.ToJSONString(departs)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">员工管理</span>
    @*<div class="ico-add" id="addUser">添加员工</div>*@
    <div class="ico-add" id="addMDUser">明道用户导入</div>
</div>
<div class="content-body">
    <div class="search-box">
        <div id="ddlDepart" class="left"></div>
        <div id="ddlRole" class="left mLeft20"></div>
        <div class="right searth-module" data-text="输入姓名/手机/Email..." data-width="200"> </div>
    </div>
    <table class="table-list mTop20">
        <tr class="tr-header">
            <td>姓名</td>
            <td class="width150">手机号码</td>
            <td>Email</td>
            <td>部门</td>
            <td>角色</td>
            <td class="width150">创建时间</td>
            <td class="width150">创建人</td>
            <td class="width80">操作</td>
        </tr>
    </table>
</div>
<ul class="dropdown-ul hide" style="width:90px;">
    <li id="setObjectRole">角色设置</li>
    <li id="deleteObject">注销员工</li>
</ul>