{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<li class="activityCardListLi">
    <div class="activityItem">
        <div class="activityImg"><a href="/Activity/Detail/{%=item.ActivityID%}" target="_blank"><img src="{%=item.Poster==''?'/modules/images/defaultactivity.jpg':item.Poster%}" onerror="javascript:this.src='/modules/images/defaultactivity.jpg';" /></a></div>
        <div class="activityInfo">
            <ul>
                <li>
                    <div class="left"><img class="activityOwnerImg activitymember" data-id="{%=item.Owner.UserID%}" src="{%=item.Owner.Avatar==''?'/modules/images/defaultavatar.png':item.Owner.Avatar%}" onerror="javascript:this.src='/modules/images/defaultavatar.png';"/></div>
                    <div class="left mLeft10" style="color:#444">{%=item.Name%}</div>
                    <div class="right">
                        <div class="dropdown" data-id="{%=item.ActivityID%}" style="background-color:#4A98E7;border-radius:3px;padding:0px 6px;">
                            <span class="ico-dropdown-white"></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="left"><img src="/modules/images/ico-time.png" /></div>
                    <div class="left mLeft10">{%=item.BeginTime.toDate("yyyy-MM-dd") %}-{%=item.BeginTime.toDate("yyyy-MM-dd") %}</div>
                    <div class="clear"></div>
                </li>
                <li>
                    <table>
                        <tr>
                            <td  width="40px">地址：</td>
                            <td class="mLeft5" style="word-break:break-all">
                                {%=item.Address%}
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div class="activityMember">
            <div class="left" style="color:#4a98e7">成员：</div>
            <div class="left mLeft5">
                <ul id="CardMemberList">
                    {%
	                    for(var l=0; l<item.Members.length;l++){
	                    var m = item.Members[l];
                    %}
                   <li class="activitymember" data-id="{%=m.UserID%}">{%=m.Name%}</li>
                    {% } %}
                </ul>
            </div>
            <div class="right">
                <div class="left" ><img src="/modules/images/ico-member.png" /></div>
                <div class="left mLeft5 mRight5" style="color:#ddd">{%=item.Members.length%}</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    <div class="activityUnderline1"></div>
    <div class="activityUnderline2"></div>
</li>
{% } %}
<div class="clear"></div>
