@{
    ViewBag.Title = "快递公司列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/expresscompany"], function (ExpressCompany) {
            ExpressCompany.init();
        });
    </script>
}
<div class="headertitle">
    <span class="header-title">快递公司列表</span>
</div>
<table class="table-list mTop20">
    <tr class="tr-header" id="client-header">
        <td width="10%">操作</td>
        <td class="">名称</td>
        <td class="">网址</td>
        <td class="">创建时间</td>
    </tr>
</table>
<div id="pager" class="mTop20"></div>
