@{
    
}
@section css{
<link href="/modules/css/customer/customer.css" rel="stylesheet" />
 }

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/customer/customer"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Type');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <a href="CreateCustomer"  id="createCustomer" class="ico-add left">新建客户</a>
</div>
<div class="search-box">
    <div class="search-header">
        <ul class="search-stages">
            <li data-id="" class="hover">全部阶段</li>
            @foreach (var model in (List<CloudSalesEntity.CustomStageEntity>)ViewBag.Stages)
            {
                <li data-id="@(model.StageID)">@(model.StageName)</li>
            }
        </ul>
        <ul class="search-status">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="1">正常</li>
            <li data-id="2">关闭</li>
            <li data-id="3">丢失</li>
        </ul>
    </div>
    <div class="search-body mTop20">
        <div class="left" id="customerSource"></div>
        <div class="right searth-module" data-text="关键字搜索..." data-width="160"> </div>
    </div>
</div>
<div class="content-body">
    <table class="table-list mTop10">
        <tr class="tr-header">
            <td class="width30"></td>
            <td>客户名称</td>
            <td class="width50">类型</td>
            <td class="width150">来源</td>
            <td class="width100">阶段</td>
            <td class="width100">联系人</td>
            <td class="width100">联系电话</td>
            <td>Email</td>
            <td class="width120">职位</td>   
            <td class="width50"><span id="filterMark"></span></td>          
            <td class="width100">拥有者</td>
            <td class="width150">创建时间</td>
            <td class="width80">操作</td>
        </tr>
    </table>
    <ul class="left batch-operate mTop20">
        <li class="width80">
            <span class="ico-check" id="check-all">批量操作</span>
        </li>
        <li>
            <a href="javascript:void(0);" id="batchChangeOwner">更换拥有者</a>
        </li>
         <li class="mLeft10">
            <span data-value="-1" id="batchMark"></span>
        </li>
    </ul>
    <div id="pager" class="mTop20"></div>
</div>
<ul class="dropdown-ul hide" style="width:110px;">
    <li id="changeOwner">更换拥有者</li>
</ul>

