@{
    
}
@section css{
<link href="/modules/css/customer/customer.css" rel="stylesheet" />
 }

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/customer/customer"], function (ObjectJS) {
            ObjectJS.init(0);
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <a href="CreateCustomer"  id="createCustomer" class="ico-add left">新建客户</a>
</div>

