
/*创建弹出层*/
.create-model {  }
.create-model li{ margin-top:10px; overflow:auto; }
.create-model li .columnname{ width:60px; }
.create-model li input{ width:180px; }
.create-model li textarea{ width:300px; }

/*权限树状结构样式*/
.menulist { border-bottom:solid 1px #ccc; padding-bottom:20px; }
.menulist .menuitem { height:40px; }
.menulist .menuitem label{ height:28px; line-height:26px; cursor:pointer; display:inline-block; padding:0 15px 0 10px; margin:5px 0 0 5px;}
.menulist .menuitem label:hover{ border:solid 1px #4B98E8; }
.menulist .menuitem .check { background:url('/modules/images/ico-check.png') no-repeat 4px 4px; border:solid 1px #ccc; }
.menulist .menuitem .checked { background:url('/modules/images/ico-checked.png') no-repeat 4px 4px; border:solid 1px #4B98E8; }

.menulist .menuitem input{ margin-top:8px; opacity:0;}
.menulist .menuitem label span{ margin-left:10px; color:#333; font-size:14px;}
.menulist .menuitem label:hover span,.menulist .menuitem .checked span{ color:#4B98E8; }

.menulist .icoopen,.menulist  .icoclose { display:inline-block; width:20px; height:20px; margin-top:11px; cursor:pointer; margin-left:5px;}
.menulist .icoopen{ background:url('/modules/images/ico-tree-open.png') no-repeat;  }
.menulist .icoclose{ background:url('/modules/images/ico-tree-pull.png') no-repeat;}
.menulist .leftline{ background:url('/modules/images/ico-tree-full.png') no-repeat -5px;display:inline-block; width:35px; height:40px; }
.menulist .lastline{ background:url('/modules/images/ico-tree-last.png') no-repeat -5px; display:inline-block; width:35px; height:40px;}
.menulist .line{ background:url('/modules/images/ico-tree-line.png') no-repeat -5px;display:inline-block; width:35px; height:40px; }
.menulist .null{ display:inline-block; width:40px; height:40px;}


