@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>云销系统</title>
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/login.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div class="main">
        <div class="title">明道登录</div>
        <div class="content">
            <div class="login">
                <div class="loginbar">
                    <input type="text" id="iptUserName" placeholder="请输入账号" class="verify"  data-empty="*" maxlength="25"/>
                </div>
                <div class="loginbar">
                    <input type="password"  class="verify" placeholder="请输入密码"  data-empty="*" id="iptPwd"/>
                </div>
            </div>
            <img class="logo" src="../../modules/images/logo_login.png" />
        </div>
        </div>
    </div>
</body>
</html>
