@{
    ViewBag.Title = "MyActivity";
}

@{
    ViewBag.Title = "所有活动";
}
<link href="/modules/css/products/brand.css" rel="stylesheet" />
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/activity/activity"], function (ObjectJS) {
            ObjectJS.init(1);
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">所有活动</span>
    <a href="Detail" class="ico-add left mTop4 mLeft20">添加活动</a>
    <div class="right searth-module"> </div> 
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header" id="brand-items">
            <td class="m-len">名称</td>
            <td class="m-len">负责人</td>
            <td class="m-len">开始时间</td>
            <td class="m-len">结束时间</td>
            <td class="m-len">活动地址</td>
            <td class="m-len">创建时间</td>
            <td class="s-len">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>

