@{
    ViewBag.Title = "活动详情";
}

<link href="/modules/css/customer/activity.css" rel="stylesheet" />
@section scripts{
<script src="/Scripts/jquery-1.11.1.js"></script>
<script type="text/javascript">
        seajs.use(["scripts/activity/activity"], function (ObjectJS) {
            ObjectJS.initDetail();
        });
</script>
    }
<div class="header-box">
    <span class="header-title left">活动详情</span>
    <span class="mLeft20"><input type="button" class="btn" id="btn_shareTask" value="分享到明道任务" /></span>
    <span class="mLeft10"><input type="button" class="btn" id="btn_shareCalendar" value="分享到明道日程" /></span>
    
    <span class="ico-gonext right" onclick="history.go(1)" title="前进"></span>
    <span class="ico-goback right" onclick="history.go(-1)" title="后退"></span>
</div>

<div class="content-body">
    <table width="100%">
        <tr class="activityListLi">
            <td width="410">
                <img id="Poster" class="activityDetailImg" src="/modules/images/defaultactivity.jpg" onerror="javascript:this.src='/modules/images/defaultactivity.jpg';" />
            </td>
            <td valign="top">
                <div class="activityDetailInfo mLeft30">
                    <table width="100%" class="activityInfoTB">
                        <tr>
                            <td colspan="2">
                                <span style="font-size:20px;color:#666;" id="Name"></span>
                            </td>
                        </tr>
                        <tr>
                            <td width="48">负责人:</td>
                            <td><span class="activitymember" id="OwnerName" style="color:#666;"></span></td>
                        </tr>
                         <tr>
                            <td>
                                时间:
                            </td>
                            <td><span id="BeginTime" style="color:#666;"></span><span style="color:#666;"> - </span><span id="EndTime" style="color:#666;"></span></td>
                        </tr>
                         <tr>
                            <td>成员</td>
                            <td>
                                <ul id="MemberList"></ul>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">地址:</td>
                            <td><span id="Address" style="color:#666;"></span></td>
                        </tr>
                    </table>
                </div>
            </td>
         </tr>
    </table>

    <div class="mTop40">
        <div class="tab-nav">
            <ul class="tab-nav-ul">
                <li class="hover" data-id="replyList">评论</li>
                <li data-id="activityCustoms">客户列表</li>
                <li data-id="activityRemark">活动详情</li>
            </ul>
        </div>
        
        <div id="replyList" name="activityDetail">
            <div class="mTop20">
                <div class="left">
                    <textarea id="Msg" class="replyMsg"></textarea>
                </div>
                <div class="left mLeft10" style="padding-top:123px;">
                    <input type="button" class="btn" id="btnSaveActivityReply" value="评论" />
                </div>
                <div class="clear"></div>
            </div>

            <div class="mTop15" style="border-bottom:solid 1px #06c;padding-bottom:10px;width:657px;">
                <span style="color:#666;">全部评论</span>
            </div>

            <div class="mBottom50">
                <table width="657" id="activityReplyList"></table>
            </div>

        </div>

        <div id="activityCustoms" class="hide" name="activityDetail"></div>

        <div id="activityRemark" class="hide mTop15" name="activityDetail">
            <div id="Remark"></div>
        </div>

    <input type="hidden" id="ActivityID" value="@ViewBag.ActivityID" />
    <input type="hidden" id="OwnerID" value="" />
    <input type="hidden" id="MemberID" value="" />
</div>
