@{
    ViewBag.Title = "活动详情";
}

<link href="/modules/css/customer/activity.css" rel="stylesheet" />
@section scripts{
<script src="/Scripts/jquery-1.11.1.js"></script>
<script type="text/javascript">
        seajs.use(["scripts/activity/activity"], function (ObjectJS) {
            ObjectJS.initDetail();
        });
</script>
    }

<div class="header-box">
    <span class="header-title left">活动详情</span>
    <a href="javascript:void(0);" id="btn_shareTask" class="ico-add left mTop4 mLeft20">分享到明道任务</a>
    <a href="javascript:void(0);" id="btn_shareCalendar" class="ico-add left mTop4 mLeft20">分享到明道日程</a>
    <span class="ico-gonext right" onclick="history.go(1)" title="前进"></span>
    <span class="ico-goback right" onclick="history.go(-1)" title="后退"></span>
</div>
<div class="content-body">
    <ul class="table-add">
        <li>
            <span class="width80">活动名称：</span><span id="Name"></span>
        </li>
        <li>
            <span class="column-name">负责人：</span>
            <div id="OwnerIDs" >
            </div>
         @*   <div class="left "><a id="addOwner" href="javascript:void();" class="ico-add mTop4">添加负责人</a></div>*@
            <div class="clear"></div>
        </li>
        <li>
            <span class="column-name">成员：</span>
            <div id="MemberIDs" >
            </div>
            <div class="left ">@*<a id="addMember" href="javascript:void();" class="ico-add mTop4">添加成员</a>*@</div>
            <div class="clear"></div>
        </li>
        
        <li>
            <span class="width80">开始时间：</span><span  id="BeginTime"></span>
        </li>
    
        <li>
            <span class="width80">结束时间：</span><span  id="EndTime"></span>
        </li>
        <li>
            <span class="width80">活动地址：</span><span id="Address"></span>
        </li>
        <li>
            <span class="column-name">备注：</span>
            
            <span id="Remark" style="max-width:800px;max-height:600px;"></span> 
        </li>
    </ul>
    <img class="brand-img" id="PosterDisImg" alt="" src="" />

    <div class="mTop20">
        <input type="button" class="btn" onclick="location.href ='/Activity/Operate/@ViewBag.ActivityID'" value="编辑" />
        <a href="javascript:void(0);" onclick="history.go(-1)"  class="btn mLeft20">返回</a>
    </div>
    <input type="hidden" id="ActivityID" value="@ViewBag.ActivityID" />
</div>
