@{
    ViewBag.Title = "活动详情页";
}
@section css{
<link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
<link href="/modules/css/customer/activity.css" rel="stylesheet" />
}

@section scripts{
<script src="/Scripts/jquery-1.11.1.js"></script>
<script src="/modules/plug/laydate/laydate.js"></script>
<script src="/modules/plug/umeditor/umeditor.config.js"></script>
<script src="/modules/plug/umeditor/umeditor.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/activity/activity"], function (ObjectJS) {
            var um = UM.getEditor('Remark');
            ObjectJS.initOperate(um, '@ViewBag.ActivityID');
        });

        var begin = {
            elem: '#BeginTime',
            format: 'YYYY-MM-DD',
            min: laydate.now(),
            max: '2099-06-16',
            istime: false,
            istoday: false
        };

        var end = {
            elem: '#EndTime',
            format: 'YYYY-MM-DD',
            min: laydate.now(),
            max: '2099-06-16',
            istime: false,
            istoday: false
        };
        laydate(begin);
        laydate(end);
    </script>
}
<div class="header-box">
    <span class="header-title left">添加活动</span>
    <span class="ico-gonext right" onclick="history.go(1)" title="前进"></span>
    <span class="ico-goback right" onclick="history.go(-1)" title="后退"></span>
</div>
<div class="content-body">
    <ul class="table-add">
        <li>
            <span class="width80">活动名称：</span><input type="text" id="Name" data-empty="* 必填" class="input verify" />
        </li>
        <li>
            <span class="width80">海报图片：</span><span id="Poster"></span>
        </li>
        <li>
            <span class="column-name">负责人：</span>
            <div id="OwnerIDs" class="left">
            </div>
            <div class="left "><a id="addOwner" href="javascript:void();" class="ico-add mTop4">添加负责人</a></div>
            <div class="clear"></div>
        </li>
        <li>
            <span class="column-name">成员：</span>
            <div id="MemberIDs" class="left">
            </div>
            <div class="left "><a id="addMember" href="javascript:void();" class="ico-add mTop4">添加成员</a></div>
            <div class="clear"></div>
        </li>
        <li>
            <span class="width80">开始时间：</span><input type="text" id="BeginTime"  class="input"  />
        </li>
    
        <li>
            <span class="width80">结束时间：</span><input type="text" id="EndTime" class="input"  />
        </li>
        <li>
            <span class="width80">活动地址：</span><textarea id="Address"></textarea>
        </li>
        <li>
            <span class="column-name">备注：</span>
            
            <div id="Remark" style="max-width:800px;max-height:600px;"></div> 
        </li>
    </ul>
    <img class="brand-img hide" id="PosterDisImg" alt="" />

    <div class="mTop20">
        <span  class="btn" id="btnSaveActivity" >保存</span>
        <a href="javascript:void(0);" onclick="history.go(-1)"  class="btn mLeft20">返回</a>
    </div>

    <input type="hidden" id="PosterImg" />
    <input type="hidden" id="ActivityID" value="@ViewBag.ActivityID" />
</div>
