@{
    ViewBag.Title = "公司信息设置";
}

@section css{
    <link rel="stylesheet" href="/modules/css/system/system.css" />
}
@section scripts{
    <script type="text/javascript">
        //seajs.use(["scripts/system/ordertype"], function (obj) {
        //    obj.init();
        //});
    </script>
}
<div class="header-box">
    <span class="header-title left">公司信息设置</span>
</div>
<div class="content-body">

</div>

