@{
    ViewBag.Title = "品牌设置";
}
<link href="/modules/css/stock/products.css" rel="stylesheet" />
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/brand"], function (brand) {
            brand.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">品牌设置</span>
    <div  class="ico-add left" id="addBrand">添加品牌</div>
    <div class="right searth-module"> </div> 
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header" id="brand-items">
            <td class="width50">商标</td>
            <td class="width200 tLeft">品牌名称</td>
            <td class="width200 tLeft">其他名称</td>
            <td class="width200 tLeft">品牌风格</td>
            <td class="width100">启用/禁用</td>
            <td class="tLeft">备注</td>
            <td class="width150">添加时间</td>
            <td class="width50">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
<ul class="dropdown-ul hide"  style="width:65px;">
    <li id="updateObject">编辑</li>
    <li id="deleteObject">删除</li>
</ul>
