
/*新建客户端*/
    .clientnav {
    border-bottom: solid 1px #ccc;
    padding:14px 0px 0px 0px;
    }

    .clientnav ul li {
        font-size:16px;
        color:#999;
        float:left;
        padding:0px 10px 13px 10px;
        margin-right:25px;
        cursor:pointer;
    }

    .clientnav .navactive {
        color:#002463;
        border-bottom:4px solid #06c;
    }

    .clientnav ul li:hover {
        color:#06c;
    }

.contentnew { border-bottom:solid 1px #ccc; padding:20px 0px;display:none;margin:0px 20px;}
.contentnew li { margin-top:10px; line-height:25px; }
.contentnew input[type="text"] { width:150px;}
.contentnew select { width:150px; }
.contentnew textarea { width:300px;  }
.contentnew .columnname { color:#666; padding-right:20px; vertical-align:top; width:60px; line-height:25px;}
.contentnew .direction {border:solid 1px #ccc; color:#666; cursor:pointer; padding:0px 12px; border-radius:12px;}
.contentnew .active {border:solid 1px #002463; color:#002463;}
