

* { padding: 0; margin: 0; font-size:9pt; color:#333; font-family:"微软雅黑","宋体","黑体"; }/*033d91*/
li{ list-style-type:none;}
a { text-decoration: none; color: #004369; }
textarea { min-height: 75px; border:solid 1px #ccc; border-radius:5px;text-indent:3px;resize:none;}

input[type="text"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #06C; }

input[type="password"] { border:solid 1px #ccc; border-radius:5px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #06C; }

select{ border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

/*按钮和图标*/
.btn { height:25px; padding:0px 10px; line-height:25px; background-color:#4B98E8 ; color:#fff; 
       border:none; font-weight:bold; cursor:pointer; display:inline-block; border-radius:2px;}

.btnccc { height:25px; padding:0px 8px; line-height:22px; background-color:#eee ; color:#333; 
       border:solid 1px #ccc; cursor:pointer; display:inline-block;}

/*添加*/
.ico-add{ background:url(../images/ico-add.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; padding-left:25px; color:#7faaca; font-weight:bold; }
/*编辑*/
.ico-edit{ background:url(../images/ico-edit-light.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer;  color:#666; }
.ico-edit:hover{ background:url(../images/ico-edit-deep.png) no-repeat;}

/*删除-垃圾箱*/
.ico-del{ background:url(../images/ico-del-light.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; color:#666; }
.ico-del:hover{ background:url(../images/ico-del-deep.png) no-repeat;}

/*返回*/
.ico-back{ background:url(../images/ico-back.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; color:#666; padding-left:25px; }

/*退出*/
.ico-logout{ background:url(../images/ico-logout.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; color:#666; padding-left:25px;}

/*删除 叉*/
.ico-delete{ background:url(../images/ico-delete.png) no-repeat; height:20px; min-width:20px; line-height:20px; 
          display:inline-block; cursor:pointer;}

/*添加*/
.ico-input-add{ background:url(../images/ico-input-add.png) no-repeat 4px ; height:20px; width:23px; line-height:20px; display:inline-block; cursor:pointer; }

/*帮助*/
.ico-help{ background:url(../images/ico-help.png) no-repeat; height:20px; min-width:20px; line-height:20px; 
          display:inline-block; cursor:pointer;}

/*下拉*/
.ico-dropdown{ background:url(../images/ico-dropdown.png) no-repeat; height:12px; min-width:12px; line-height:12px; 
          display:inline-block; cursor:pointer;}

/*排序*/
.ico-orderby-down{ background:url(../images/ico-orderby-down.png) no-repeat; height:10px; min-width:10px; line-height:10px; 
          display:inline-block; cursor:pointer;}

.ico-orderby-down-hover{ background:url(../images/ico-orderby-down-hover.png) no-repeat; height:10px; min-width:10px; line-height:10px; 
          display:inline-block; cursor:pointer;}

/*header样式*/
header { height:60px; width:100%; background-color:#2F74B9; position:fixed; top:0;}

header .logo { width:100px; height:50px; margin-top:5px; padding-left:10px; }
header .logo img{ width:100px; height:50px; }

header .modules { width:30px; margin-left:20px; margin-top:18px; }
header .modules li{ height:4px; width:30px; background-color:#BFD2F2; margin-top:4px; }

header .menu { height:60px; margin-left:60px; }
header .menu a{ color:#BFD2F2; height:60px; line-height:60px;text-align:center; width:80px; display:inline-block; font-size:14px;}
header .menu a:hover,header .menu .select{ background-color:#174A7F;color:#fefefe;}

header .currentuser { margin-right:50px;}
header .currentuser span{ display:inline-block; float:left;}
header .currentuser .avatar { height:40px; width:40px; border:solid 2px #fefefe; border-radius:22px; margin-top:8px;}
header .currentuser .username { margin-left:10px; color:#BFD2F2; line-height:60px; font-size:16px; font-weight:bold; }

header .currentuser .dropdown { width:16px; height:16px; position:relative; overflow:hidden; margin-left:5px; margin-top:27px; }
header .dropdown .dropdown-top { border-top:solid 8px #BFD2F2; border-left:solid 8px transparent ;border-right:solid 8px transparent ; }
header .dropdown .dropdown-bottom { border-top:solid 8px #2F74B9; border-left:solid 8px transparent ;border-right:solid 8px transparent; position:absolute; top:-3px; left:0; }

.headertitle {margin-left:15px; height:30px;border-bottom:solid 1px #ccc;padding-top:15px; padding-bottom:5px;}/*002463*/
.headertitle span { border-left:solid 5px #002463; font-size:18px; color:#002463; display:block; height:20px; line-height:20px; text-indent:20px;}
/*左侧菜单栏*/
nav {display:none; width:160px; position:fixed; left:0; top:60px; height:100%;background-color:#F2F2F2; border-right:solid 1px #e3e3e3;}

nav .top-nav { width:160px; height:50px; border-bottom:1px solid #e3e3e3; }
nav .top-nav span{ width:160px; text-align:center; font-size:16px; line-height:50px; color:#666; display:inline-block;}

nav  .nav-list{ border-top:1px solid #fff; }
nav .action-box { width:156px; border-left:solid 4px #F2F2F2; height:50px; }
nav .action-box .action { width:100px; border-bottom:1px solid #fff; float:left; margin-left:25px; margin-top:13px;}
nav .action-box a{ width:100px;height:35px; line-height:35px; display:inline-block; color:#666; border-bottom:1px solid #e3e3e3; text-align:center;}

nav .action-box:hover,nav .select { background-color:#fff; border-left:solid 4px #318AE4; height:50px;margin-top:-2px;
                                    border-right:solid 1px #fff; border-bottom:solid 1px #e3e3e3;border-top:solid 1px #e3e3e3;  }
nav .action-box:hover .action,nav .select .action{ border-bottom:none; margin-top:8px; }
nav .action-box:hover a,nav .select a{color:#318AE4; border-bottom:none;}


/*内容页样式*/
.main-content { overflow-x:hidden; position:fixed; right:0; top:60px;}

.header-box { border-bottom:solid 1px #7faaca; margin:20px; height:35px; }
.ico-goback { background:url(../images/ico-goback.png) no-repeat; width:32px; height:32px; cursor:pointer; display:inline-block; }
.ico-gonext { background:url(../images/ico-gonext.png) no-repeat; width:32px; height:32px; cursor:pointer; display:inline-block; }
.header-title { height:20px; line-height:20px; padding-left:10px; margin-top:6px; border-left:solid 5px #7faaca; font-weight:bold; color:#7faaca; }

/*搜索样式*/
.search-box { margin:20px; }

.content-body{ margin:0 20px; padding-bottom:50px; overflow:auto; }

/*数据验证错误*/
.verify-fail-err { height:20px; line-height:20px; padding-left:10px; padding-top:2px;}

/*表格样式*/
.table-list {margin-left:15px;margin-right:15px; width:100%; border-top:solid 1px #c5dceb;border-left:solid 1px #c5dceb; border-collapse:collapse;border-spacing:0;}
.table-list tr{ height:25px;  background-color: #fff;}
.table-list tr:hover { background-color: #e7f5fd; }
.table-list td{ border-bottom:solid 1px #c5dceb;border-right:solid 1px #c5dceb; padding:5px 10px; vertical-align:middle;  }
.table-list a{ color:#333;  vertical-align:middle;}
.table-list a:hover{ color:red; text-decoration:underline; }
.table-list .tr-header{ text-align:center;font-weight:bold; height:35px; }
.table-list .tr-header td{ background-color:#e7f5fd; color:#2a3441;}

/*新建样式*/
.table-add {  border-bottom:solid 1px #7faaca; padding-bottom:20px; }
.table-add li{ line-height:25px; margin-top:5px;  padding: 2px 20px;}
.table-add li input[type="text"] { height:20px; line-height:20px; padding:2px 5px; width:150px; }
.table-add li textarea { height:80px; line-height:20px; padding:1px 5px; border:solid 1px #ccc; width:350px; border-radius:5px;}
.table-add span {  display:inline-block; color:#333; vertical-align:top;}

/*信息层样式*/
.alert { border: 1px solid #5996CE;  background-color: #fff; font-size: 13px; margin: auto; position: fixed; top: 30%; z-index: 9999; 
         padding: 15px; display: inline-block; min-width: 330px; text-align: center; -moz-box-shadow: 0 0 30px #ccc;
         box-shadow: 0 0 30px #ccc; -webkit-box-shadow: 0 0 30px #ccc; }

.alert .alertwrap { position: relative; }
.alert .close { position: absolute; top: -15px; right: -15px; cursor: pointer; font-size: 16px; 
                width: 20px; height: 20px; text-align: center; line-height: 20px; }

/*下拉菜单样式*/
.dropdown-ul { padding:10px 0; border:solid 1px #c5dceb; border-radius:5px; position:absolute; background-color:#fff; }
.dropdown-ul li{ padding:0 20px; height:25px; line-height:25px; cursor:pointer; }
.dropdown-ul li:hover{ background-color:#eee;}

/*切换导航样式*/
.show-nav { height: 30px; width: 99%; line-height: 30px; margin-top: 20px; border-width: 2px 1px 1px; border-style: solid; 
            border-color: #999 #DEDFDE #DEDFDE; background-color: #F7F7F7; overflow: visible; }
.show-nav-ul { float: left; height: 31px; margin-bottom: -1px; }
.show-nav-ul li { height:30px; float:left; padding:0 20px; cursor:pointer; }
.show-nav-ul .hover { position: relative; height: 35px; line-height: 35px; margin-top: -6px; margin-left: -1px; border-top: 2px solid #E4393C;
          border-left: 1px solid #DEDFDE; border-right: 1px solid #DEDFDE; background-color: #FFF; }

