.businessCard {
display:none;
position:absolute;
background-color:#fff;
border:solid 2px #eee;
border-radius:5px;
z-index:1000;
width:220px;
height:130px;
padding:10px;
}

.businessCard ul {
list-style:none;
margin:0;
padding:10px 20px;
}

.businessCard ul li {
    line-height:25px;
    height:25px;
}

.businessCard .userAvatar{
    max-height:36px;
    max-width:36px;
    border-radius:18px;
}

.userArrowBox {
position: relative;
display: inline-block;
width: 20px;
height: 20px;
top: 0px;
left: 15px;
}

.userArrow {
border: 8px transparent solid;
border-top-color: #fee;
display: inline-block;
vertical-align: top;
}